.title-container {
	max-width: none;
	background-image: url("./assets/title-bg.jpg");
	background-size: cover;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-container {
	background-color: white;
	padding: 20px;
}

#title-text {
	color: white;
}