.title-container {
	max-width: none;
	background-image: url("./assets/title-bg.jpg");
	background-size: cover;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.projects-container {
	background-color: white;
	padding: 30px;
}

.project-container {
	min-width: 400px;
}

.links-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.link-container {
	margin-right: 10px;
}

.about-container {
	padding: 30px;
	margin-top: 50px;
}

.acknowledge-container {
	padding: 30px;
}

.contact-container {
	padding: 30px;
	margin-bottom: 100px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

#title-text {
	color: white;
}